body{
    font-family: 'Source Sans Pro', sans-serif;
}



h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: -.2;
    letter-spacing: -.1px;
    font-family: "Arial";
    color: blue;
    margin: 100px; 150px;
    
}

.Titulo {
    background-position: center;
}

.Casas {
    width: 300px;
    background-color: #E6E7E8;
}

.Edificios {
    width: 300px;
    background-color: #E6E7E8;
}

.Terrenos {
    width: 300px;
    background-color: #E6E7E8;
}

.header {
    background-color: #bcb08a;
    color: white;
}

.header a {
    color: #000;
    text-decoration: none;
}

.logo {
    height: 300;
    background-image: url('./recursos1/imagen/lupa-logo.png');
    background-color: #1b2127;
    background-size: 500px 300px;
    background-position-x: right;
}

.redes-sociales-container {
    background: #E6E7E8;
    background-position-y: right;

}

.Casas {
    width: 500px;
    background-image: url('/recursos1/imagen/Casas.png');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: #E6E7E8;
    padding: 20px;
    margin: 10px;
}

.Edificios {
    width: 100px;
    background-image: url('/recursos1/imagen/edificios.png');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 20px;
    margin: 10px;
}

.Terrenos {
    width: 100px;
    background-image: url('/recursos1/imagen/Terrenos.png');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 20PX;
    margin: 10px;

}

.logo-Container {
    border-top: 10px solid #bcb08a;
    border-right: 10px #E6E7E8;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    margin: 10px;

}