body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 30px;
    line-height: -.2;
    letter-spacing: -.1px;
    font-family: "Arial";
    color: rgb(18, 18, 34);
    margin: 0;  
    object-fit: cover;
}

.Titulo {
    background-position: center;
    margin: 15px;
    border-radius: 10px; 
    object-fit: cover;   
}

.Casas {
    width: 300px;
    background-color: #E6E7E8;
    margin-bottom: 15px;
}

.Edificios {
    width: 300px;
    background-color: #E6E7E8;
}

.Terrenos {
    width: 100px;
    background-color: #E6E7E8;
}

.header {
    background-color: #bcb08a;
    color: white;
}

.header a {
    color: #000;
    text-decoration: none;
}

.Actual-proyecto-entrega-details {
    background: #bcb08a;
    margin: 0px;
    padding: 30px;
    font-size: 30px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    object-fit: cover;
}

.h4 {
    text-transform: uppercase;
}

.Casas {
    width: 400px;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: right;
    border: 1px; 
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.Edificios {
    width: 400px;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    object-fit: cover;
}

.Terrenos {
    width: 400px;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    object-fit: cover;
}

.article-container {
    display: flex;
}

.aside-container {
    display: flex;
    padding: 20px;
    text-align: center;
}

.logo-Container {
    width: 500px;
    margin: 5px;
    display: inline-block;   
}

.Titulo-details {
    width: 500px;
    text-align: center;
    display: inline-flex;
}

.Barnav-details {
    width: 50;
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

.titulo-principal-container {
    border: 15px; 
    margin: 10px; 
    display: inline-flex;
    object-fit: cover;
}

.footer-Container {
    color: white;
    background-color: #bcb08a;
    display: flex;
    width: 80;
    height: 300;
    align-items: center;
    justify-content: space-around;
    object-fit: cover;
    border-radius: 10px;  
}

.redes-sociales-container {
    background-position-y: right;
    vertical-align: right;
    object-fit: cover;
}

.social-link {
    display: inline-block
}

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px;
    background-size: 15px 15px;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    border: solid;
    margin-top: 10px;
    background: transparent;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin: 10px auto 0;

}