body{
    font-family: 'Source Sans Pro', sans-serif;
}



h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: -.2;
    letter-spacing: -.1px;
    font-family: "Arial";
    color: blue;
    
}

.Casas-details {
    width: 300px;
    background-color: red;
}

.header {
    background-color: #bcb08a;
    color: white;
}

.header a {
    color: #000;
    text-decoration: none;
}

.redes-sociales-container {
    background: #E6E7E8;
}

.Casas {
    width: 500px;
    background-image: url('/recursos1/imagen/Casas.png');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.Edificios-details {
    width: 100px;
    background-image: url('/recursos1/imagen/edificios.png');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.logo-Container {
    border-top: 10px solid #bcb08a;
    border-right: 10px #E6E7E8;
    
}